<% const months=["January", "February" , "March" , "April" , "May" , "June" , "July" , "August" , "September"
    , "October" , "November" , "December" ]; %>
    <% let today=new Date(); %>
        <div class="flex-box">
            <div class="flex-box">
                <% for (let item of items) { %>
                    <% let expDate=new Date((item.itemExp.toISOString().split('T')[0]).replace(/-/g,"/")); let
                        difference=expDate.getTime() - today.getTime(); let days=Math.ceil(difference / (1000 * 3600 *
                        24)); %>
                        <div class="card item-item card-parent mx-3 my-3">
                            <header class="card-header">
                                <h2 class="card-header-title is-centered">
                                    <%= item.itemName %>
                                </h2>
                            </header>
                            <div class="card-content">
                                <% date=(item.itemExp); date.setHours(date.getHours() + 12); console.log(date)%>
                                    <p>Expiration:<span class="is-bold">
                                            <%= months[date.getMonth()] %>
                                                <%= date.getDate() %>, <%= date.getFullYear() %>
                                        </span> </p>
                                    <p>Shelf life remaining: <span
                                            class="is-bold<% if(days < 3) {%> has-text-danger<% } %>">
                                            <%= (days> 0)? days + ' Days' : 'Expired ' + Math.abs(days) + ' ago!' %>
                                        </span>

                                    </p>
                                    <p>Quantity: <span class="is-bold">
                                            <%= item.quantity %>
                                        </span> </p>
                                    <% if(item.description !=='' && item.description !=='undefined' ) { %>
                                        <hr>
                                        <p class=""> Description: <%= item.description %>
                                        </p>
                                        <% } %>
                            </div>
                            <div class="card-footer px-1 py-1 card-flex-footer flex-spaced">
                                <a href="/item/edit-item/<%= item._id %>?edit=true" class="button is-info">Edit</a>

                                <% if(isDeleteMode) { %>
                                    <form action="/item/delete-item" method="POST">
                                        <input type="hidden" value="<%= item._id %>" name="itemId">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <button class="button is-danger" type="submit">Delete</button>
                                    </form>
                                    <% } %>
                            </div>
                        </div>

                        <% } %>
            </div>
        </div>