<%- include('../includes/head.ejs') %>
    </head>
    <% const months=["January", "February" , "March" , "April" , "May" , "June" , "July" , "August" , "September"
        , "October" , "November" , "December" ]; 
        let today=new Date();
        %>

        <body class="has-background-grey-light">
            <%- include('../includes/navigation.ejs') %>
                    <main>
                        <% if (items.length> 0) { %>
                        <div class="my-6">
                            <% if(!isListView) { %>
                                <%- include('../includes/items-listview.ejs') %>
                                    <% } else { %>
                                        <%- include('../includes/items-card-view.ejs') %>
                                            <% } %>
                        </div>



                        <% } else { %>
                           <section class="hero is-fullheight paralax-empty ">
                              <div class="hero-body bg-translucent">
                                <div class="container box">
                                 <h2>No items Found! <a class="" href="/item/add-item"> Add Items? </a></h2>
                                </div>
                              </div>
                            </section>
                           
                           <% } %>



                        <div class="fab-wrapper">
                            <input id="fabCheckbox" type="checkbox" class="fab-checkbox" />
                            <label class="fab" for="fabCheckbox">
                                <span class="fab-dots fab-dots-1"></span>
                                <span class="fab-dots fab-dots-2"></span>
                                <span class="fab-dots fab-dots-3"></span>
                            </label>
                            <div class="fab-wheel">
                                <a class="fab-action fab-action-1" href="/item/add-item">
                                    <span class=" material-icons">add</span>
                                </a>
                                <form action="/item/change-theme" method="POST">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <button class="fab-action fab-action-2">
                                        <% if(isListView) { %> <span class=" material-icons">list</span>
                                            <% } else { %>
                                                <span class=" material-icons">dashboard</span>
                                                <% } %>
                                    </button>
                                </form>
                                <a class="fab-action fab-action-3">
                                    <span class=" material-icons">receipt_long</span>
                                </a>
                                <form action="/item/deleteMode" method="POST">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <button class="fab-action fab-action-5">
                                        <span class=" material-icons">delete_forever</span>
                                    </button>
                                </form>
                                <form action="/item/editMode" method="POST">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <button class="fab-action fab-action-4">
                                        <span class=" material-icons">edit</span>
                                    </button>
                                </form>
                                
                            </div>
                        </div>
                    </main>
                    <script src='/js/helpers.js'></script>
                    <%- include('../includes/end.ejs') %>